//- metadata code block
include ./includes/head

body


		block theContent




		// =============== footer ===============
		include ./includes/footer
		// =============== / footer ===============


	// =============== scripts  ===============
	!= js('/')