<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Melodic FM</title>
<style type="text/css">
.BLUE {
	color: #00F;
}
.BLUE {
	color: #00F;
}
.RED {
	color: #E2E2E2;
}
body {
	background-image: url(index.html);
}
body,td,th {
	color: #009;
	font-weight: bold;
}
.TIME {
	font-family: "Times New Roman", Times, serif;
}
</style>
</head>

<body text="#FF0000">
<table width="1320" height="189" border="0" align="center">
  <tr>
    <td width="1314" align="center" valign="top"><h1><img src="img/melodiclogo2.gif" width="402" height="174" /></h1></td>
  </tr>
</table>
<table width="509" border="0" align="center">
  <tr>
    <td width="154"><a href="http://melodicfm.listen2myradio.com/" target="_blank"><img src="img/ListenLive.png" width="150" height="115" /></a></td>
    <td width="200"><a href="http://melodicfm.listen2myradio.com/" target="_blank"><img src="img/icon-1.audionow.com.png" width="196" height="90" /></a></td>
    <td width="141"><a href="http://melodicfm.Caster.fm/" target="_blank"><img src="img/images.jpeg" width="144" height="77" /></a></td>
  </tr>
</table>
<table width="781" border="0" align="center">
  <tr>
    <td align="center"><img src="img/melodiczeno.gif" width="470" height="90" /></td>
  </tr>
</table>
<table width="781" border="0" align="center">
  <tr>
    <td width="903" height="39" align="center"><h1 class="BLUE">INFO: CONTACT JOHN PIERRE</h1></td>
  </tr>
  <tr>
    <td height="20" align="center"><div id="cstrpdiv"><a href="http://johnyrockproduction.com/" target="_blank">www.johnyrockproduction.com</a></div></td>
  </tr>
</table>
<table width="200" border="0" align="center">
  <tr>
    <td align="center"><h2>609-384-0425</h2></td>
  </tr>
</table>
</body>
</html>
