/*@import './reset.css'
@import './plugins.css'
@import './style.css'
*/

	


/*
*
*	adjustments
*
**/

.BLUE {
	color: #00F;
}
.BLUE {
	color: #00F;
}
.RED {
	color: #E2E2E2;
}
body {
	background-image: url(index.html);
}
body,td,th {
	color: #009;
	font-weight: bold;
}
.TIME {
	font-family: "Times New Roman", Times, serif;
}

	
